.btn {
    @include padding-x(1rem);
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    &-primary {
        @include button-variant($yellow, transparent, $black, $black, $black);
    }
}

.btn-icon, .icon {
    $icon-position: (
        'top', 'right', 'bottom', 'left',
    );
    $icon-margin: (
        'sm': 0.25rem,
        'lg': 1rem,
    );
    @each $position in $icon-position {
        &-#{$position},
        &-#{$position} {
            > [class^="fa"],
            > [class^="icon"] {
                margin-#{ opposite-direction($position) }: 0.5rem;
            }
            @each $type, $margin in $icon-margin {
                &-#{$type} {
                    > [class^="fa"],
                    > [class^="icon"] {
                        margin-#{ opposite-direction($position) }: $margin;
                    }
                }
            }
        }
    }
}

.custom {
    $e: #{&};
    &-control {
        &-label::before {
            border: 1px solid $input-checkbox-icon;
            // border-radius: unset !important;
        }
        &-input:focus:not(:checked) ~ &-label::before {
            border-color: $input-checkbox-icon;
        }
        &-input:checked ~ &-label::before {
            background-color: $input-checkbox-color;
            border-color: $input-checkbox-color;
        }
        &-input:not(:disabled):active ~ &-label::before {
            background-color: transparent;
        }
        #{$e}-checkbox &-input:checked ~ &-label::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='%23#{str-replace('' + $input-checkbox-icon, '#')}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>");
        }
    }
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    color: #495057 !important;
}

.select2-results__option {
    transition: background 0.15s ease;
}

.select2-results__option--highlighted,
.select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    color: $black !important;
    background-color: rgba($color: $black, $alpha: 0.25) !important;
}

.select2-results > .select2-results__options {
    @include scrollbar($dark, $primary, #FFF);
}

.select2-container--bootstrap4 .select2-selection {
    border-bottom: 2px solid #e2e4ef !important;
}

.select2-container--bootstrap4 .select2-dropdown {
    border: none !important;
    box-shadow: 0 0.25rem 1rem rgba($color: #000000, $alpha: 0.15);
}

.select2-container--bootstrap4.select2-container--focus.select2-container--open .select2-selection {
    border-bottom: 2px solid $primary !important;
}

.form {
    &-control {
        border-bottom: 2px solid $grey;
        transition: border-color 0.5s;
        &:focus {
            border-bottom-color: $yellow;
            box-shadow: unset !important;
        }
    }
}