@import url(https://pro.fontawesome.com/releases/v5.14.0/css/all.css);
img {
  image-rendering: -webkit-optimize-contrast;
}

.img-preview {
  -o-object-fit: contain;
     object-fit: contain;
}
.img-preview-xl {
  max-width: 400px;
  height: 200px;
}
.img-preview-md {
  max-width: 200px;
  height: 100px;
}
.img-preview-sm {
  max-width: 100px;
  height: 50px;
}

.select2 {
  width: 100% !important;
}
