.related-materials {
  &__title {
    margin-bottom: rem(29px);
  }
}

.related-materials-swiper {
  padding-bottom: rem(22px);
  .swiper-slide {
    width: auto;
    min-width: rem(541px) !important;
    @media (max-width: $sm-screen) {
      min-width: initial !important;
      width: initial;
    }
  }
  .swiper-scrollbar {
    cursor: pointer;
    opacity: 1 !important;
    bottom: 0 !important;
    width: 100%;
    left: 0;
    background: rgba(186, 188, 198, 0.2);
  }
  .swiper-scrollbar-drag {
    background: #BABCC6;
  }
  &--medium {
    padding-bottom: rem(18px);
    .swiper-slide {
      min-width: rem(281px) !important;
    }
  }
}
