.search {
  position: relative;
  //height: 100%;
  width: 100%;
  &__input {
    width: 100%;
    min-height: rem(48px);
    border-radius: rem(4px);
    border: solid 1px #e3e5ed;
    background-color: #fff;
    padding: 0 rem(42px) 0 rem(16px);
    font-size: rem(13px);
    color: $black;
    &::placeholder {
      color: rgba(32, 32, 35, 0.6);
    }
    @media (max-width: $sm-screen) {
      min-height: rem(40px);
    }
    &--black {
      &::placeholder {
        color: $black;
        font-size: rem(14px);
      }
    }
  }
  &__button {
    position: absolute;
    right: rem(16px);
    top: 50%;
    transform: translateY(-50%);
  }
  &__icon {
    width: rem(16px);
    height: rem(16px);
    object-fit: contain;
    &--md {
      width: rem(24px);
      height: rem(24px);
    }
  }
  &--grey {

    .search__input {
      background-color: #f7f8fa;
      min-height: rem(40px);
    }
  }
}
