.services-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: rem(16px);
  @media (max-width: $lg-screen) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $sm-screen) {
    grid-template-columns: 1fr;
  }
  &__big-card {
    grid-column: 1/2;
    grid-row: 1/3;
    @media (max-width: $lg-screen) {
      grid-row: initial;
      grid-column: 1/3;
    }
    @media (max-width: $sm-screen) {
      grid-column: initial;
    }
  }
  &--mb {
    margin-bottom: rem(34px);
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__poster-news {
    max-width: rem(550px);
  }
}
