$white: #fff;
$black: #202023;
$black-hover: #36363b;
$shark: #29292d;
$blue: #4290f2;
$blue-hover: #296dc7;
$rangitoto: #cbec4c;
$rangitoto-hover: #bede43;
$light-grey: #f7f8fa;
$light-grey-hover: #ebecee;
$dark-blue: #033a8f;
$green: #3ec706;
$azure: #02a3f4;
$rio-grande: #d2d108;
$dodger-blue: #3384f7;
$dodger-blue-hover: #2d7cec;
$starship: #CAF332;
$athens-gray: #F4F5F8;
$athens-gray-hover: #e8e9ec;
$limeade: #5AC806;
$red: #ef4b4b;
$polar: #f7fafd;

$padding-block: rem(56px) 0;
$padding-block-sm: rem(34px) 0;


$xxl-screen: rem(1280px);
$xl-screen: rem(1200px);
$lg-screen: rem(992px);
$md-screen: rem(768px);
$sm-screen: rem(576px);
