.button {
  padding: rem(16px);
  border-radius: rem(4px);
  background-color: $rangitoto;
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1.5;
  color: #202023;
  transition: .2s linear;
  @include flex-row-center;

  @media (max-width: $sm-screen) {
    font-size: rem(14px);
    padding: rem(12px);
  }

  &:hover {
    background-color: $rangitoto-hover;
  }
  &--blue {
    background-color: $dodger-blue;
    color: #fff;
    &:hover {
      background-color: $dodger-blue-hover;
    }
  }
  &--grey {
    background-color: $light-grey;
    color: $dodger-blue;
    &:hover {
      background-color: $light-grey-hover;
    }
  }
  &--bordered-white {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      background: transparent;
      color: $rangitoto;
      border-color: $rangitoto;
    }
  }

  &--bordered-blue {
    padding: rem(12px) rem(16px);
    border: rem(1px) solid $dodger-blue;
    background: transparent;
    color: $dodger-blue;
    &:hover {
      background: transparent;
    }
  }
  &__icon {
    width: rem(24px);
    height: rem(24px);
    object-fit: contain;
    margin-left: rem(8px);
    &--rotate {
      transform: rotate(180deg);
      margin-right: rem(11px);
    }
    &--top {
      transform: rotate(-90deg);
      margin-right: rem(11px);
    }
    &--mr {
      margin: 0 rem(10px) 0 0;
    }
  }
  &--small {
    padding: rem(6px) rem(16px);
  }
  &--border-md {
    border-width: rem(2px);
  }
}
