@keyframes loader-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: rem(44px);
  height: rem(44px);
  background: #F1F2F4;
  margin: rem(25px) auto;
  @include flex-row-center;
  border-radius: 50%;
  &__circle {
    animation: loader-rotation 1s linear infinite;
  }
}
