.notification {
  padding: rem(8px) rem(16px) rem(8px) rem(23px);
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px #e3e5ed;
  position: relative;
  &.unread {
    background-color: #f7f8fa;
    .notification__circle {
      display: block;
    }
    .notification__square {
      background-color: #fff;
    }
    .notification__desc {
      font-weight: 500;
    }
  }
  &.open {
    .notification__desc {
      -webkit-line-clamp: initial;
    }
    .notification__icon {
      transform: rotate(180deg);
    }
  }
  &__date {
    font-size: rem(14px);
    font-weight: 500;
    color: $black;
    line-height: 1.71;
  }
  &__title {
    font-size: rem(16px);
    font-weight: 500;
    line-height: 2;
    color: $black;
    margin-bottom: rem(8px);
  }
  &__desc {
    font-size: rem(14px);
    line-height: 1.71;
    color: $black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    transition: .2s linear;
  }
  &__square {
    margin-left: rem(16px);
    width: rem(32px);
    height: rem(32px);
    border-radius: rem(4px);
    background-color: #f7f8fa;
    flex-shrink: 0;
    @include flex-row-center;
    cursor: pointer;
  }
  &__icon {
    object-fit: contain;
  }
  &__circle {
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background-color: #ff5454;
    position: absolute;
    top: rem(44px);
    left: rem(7px);
    display: none;
  }
}
