.participant-info {
  padding: rem(24px);
  border-radius: rem(15px);
  background: #f7f8fa;
  &__icon {
    display: block;
    object-fit: contain;
    width: rem(64px);
    height: rem(64px);
    margin: 0 auto rem(32px) auto;
    @media (max-width: $sm-screen) {
      width: rem(44px);
      height: rem(44px);
      margin: 0 auto rem(24px) auto;
    }
  }
  &__title {
    font-size: rem(24px);
    font-weight: 700;
    color: $black;
    line-height: 1.33;
    text-align: center;
    margin-bottom: rem(24px);
    text-transform: uppercase;
    @media (max-width: $sm-screen) {
      font-size: rem(20px);
    }
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: rem(16px);
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $sm-screen) {
      margin-bottom: rem(12px);
    }
  }
  &__name {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.78;
    margin-right: rem(14px);
    width: 100%;
    max-width: rem(242px);
    @media (max-width: $sm-screen) {
      font-size: rem(16px);
    }
  }
  &__stat {
    min-width: rem(120px);
    padding: rem(8px);
    background: $white;
    border-radius: rem(10px);
    font-size: rem(20px);
    font-weight: 500;
    line-height: 1.6;
    color: $dodger-blue;
    text-align: center;
    @media (max-width: $sm-screen) {
      font-size: rem(18px);
      min-width: rem(100px);
    }
  }
}
